.TextInput__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.TextInput__content {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 16px;
  overflow: hidden;

  display: grid;
  grid-template-columns: auto 1fr auto;

  display: flex;
  align-items: center;

  padding: 0 8px;
  background: white;

  &:focus-within {
    border-color: #2D82E6;
  }
  
  input {
    border: 0;
    height: 100%;
    flex: 1;
    padding: 5px 0;
    font-size: 16px;
    background: white;

    &:focus {
      outline: none;
    }
  }
}