.Pills {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .Pills__pill {
    font-size: 16px;
    padding: 8px 16px;
    background: white;
    color: #757575;
    border-radius: 8px;
    transition: all 0.2s;
    border: solid 1px transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 7px;

    &:hover {
      border-color: #2C2C2C;
    }
  }

  .Pills__pill__selected {
    background: #2C2C2C !important;
    color: white !important;
  }
}